<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Components.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FrameworkX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FrameworkY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FD467262009271000466968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD4672F2009271000466968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD467452009271C00466968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD4674D2009271D00466968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD467612009272300466968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD467692009272300466968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD467792009278800466968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
